
.no-scroll {
    overflow: hidden;
  }
  

/* Modal genel stilleri */
.project-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* Varsayılan olarak gizli */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Yüksek z-index değeri */
}

.project-detail.active {
    display: flex;
    /* Modal aktif olduğunda göster */
}


/* Görünmez scrollbar */
.projects-modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Tarayıcıya özgü scrollbar arka planı */
}

.projects-modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
}

.project-detail .info {
    margin-top: 30px;
}

.projects-modal {
    background: #222223;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 600px;
    width: 90%;
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
}

.project-name {
    font-size: 24px;
    font-weight: 600;
    color: var(--vegas-gold);
    margin-bottom: 10px;

}

.project-text{
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;

}

.detail-title{
    display: flex;
    flex-direction: row;
    color: var(--light-gray);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    gap:10px;

}

.project-learn , .project-property {
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.close-btn {
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    color: var(--vegas-gold);
    border: 2px solid var(--vegas-gold);
    font-size: 24px;
    cursor: pointer;
    z-index: 1002;
}

.info {
    display: flex;
    flex-direction: column;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 70%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.github-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.github-button {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.github-button:hover {
    background: #444;
}

.github-button svg {
    margin-right: 10px;
}