
.projects { margin-bottom: 10px; }

.projects-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.projects-item {
    padding:20px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 3px solid var(--orange-yellow-crayola);
    cursor: pointer;
}

.projects-avatar-box {
    margin-left: 10px;
    display: flex;
    gap:15px;
    justify-content: start;
    align-items: center;
    position: relative;
}

.projects-avatar-box img {
    width: 60px;
    height: 60px;
}

.projects-item-title {
    color: var(--vegas-gold);
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
    margin: 10px;
}

.projects-text {
    color: var(--light-gray);
    line-height: 1.6;
    margin: 0 10px;
}

.project-detail-info {
    display: flex;
    justify-content: end;
    margin-top:15px;
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}




